.acontainer{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.acontainer > h1{
    font-size: 50px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form > input::placeholder{
    font-size: larger;
    color: rgb(36, 35, 35);
}
.ip{
    width: 150%;
    height: 35px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
}
.bg-btn{
    padding: 5px;
    background-color: rgb(192, 47, 76);
    color: white;
    border: 1px solid rgb(192, 47, 76);
    border-radius: 25px;
}
